In [1]:
import pandas as pd
import numpy as np

In [2]:
def removeSpaces(string):
    string = string.replace(' ','')
    return string

def lowercase(string):
    string = string.lower()
    return string

In [3]:
dfBigMacI = pd.read_csv('bigmac.csv')
dfBigMacI['Year'] = pd.DatetimeIndex(dfBigMacI['date']).year

dfBigMac = dfBigMacI[['name', 'Year', 'dollar_price']]
dfBigMac = dfBigMac.loc[dfBigMac['Year'] == 2015]

dfBigMac['name'] = dfBigMac['name'].apply(removeSpaces)
dfBigMac['name'] = dfBigMac['name'].apply(lowercase)

listax = np.arange(805,848,1)

listamedia = []
for i in range(805, 848, 1):
    media = (dfBigMac['dollar_price'][i] + dfBigMac['dollar_price'][i + 43])/2
    listamedia.append(media)

dfBigMac['media'] = listamedia * 2
dfBigMac = dfBigMac.loc[listax,:]
dfBigMac = dfBigMac.drop('dollar_price', axis='columns', inplace=False)
paises = []
for pais in dfBigMac['name']:
    paises.append(pais)
dfBigMac

              name  Year     media
805            uae  2015  3.539341
806      argentina  2015  3.158583
807      australia  2015  4.120485
808         brazil  2015  4.744673
809         canada  2015  4.587777
810    switzerland  2015  7.182832
811          chile  2015  3.307715
812          china  2015  2.753465
813       colombia  2015  3.128361
814      costarica  2015  4.021011
815  czechrepublic  2015  2.876479
816        denmark  2015  5.227261
817          egypt  2015  2.232784
818       euroarea  2015  4.158869
819        britain  2015  4.440341
820       hongkong  2015  2.451274
821        hungary  2015  3.175208
822      indonesia  2015  2.262144
823          india  2015  1.859722
824         israel  2015  4.539940
825          japan  2015  3.063643
826     southkorea  2015  3.772558
827       srilanka  2015  2.634448
828         mexico  2015  3.231496
829       malaysia  2015  2.060039
830         norway  2015  5.973241
831     newzealand  2015  4.201095
832       pakistan  2015  3.209803
833           peru  2015  3.232832
834    philippines  2015  3.637771
835         poland  2015  2.513024
836         russia  2015  1.623886
837    saudiarabia  2015  3.063738
838      singapore  2015  3.482590
839         sweden  2015  5.048054
840       thailand  2015  3.102330
841         turkey  2015  3.919149
842         taiwan  2015  2.527619
843        ukraine  2015  1.374917
844        uruguay  2015  4.379395
845   unitedstates  2015  4.790000
846        vietnam  2015  2.778696
847    southafrica  2015  2.157906

In [8]:
dfObesidadeI = pd.read_csv('obesity-cleaned.csv')
dfObesidade = dfObesidadeI.loc[dfObesidadeI['Year'] == 2015]
dfObesidade = dfObesidade.loc[dfObesidade['Sex'] == 'Both sexes']
dfObesidade.drop('Sex', axis='columns', inplace=True)
dfObesidade.drop('Unnamed: 0', axis='columns', inplace=True)
dfObesidade['Country'] = dfObesidade['Country'].apply(removeSpaces)
dfObesidade['Country'] = dfObesidade['Country'].apply(lowercase)

listaindex = list(dfObesidade.index)

paises1 = []
for pais in dfObesidade['Country']:
    paises1.append(pais)
    
i = 0
for pais in paises:
    if pais in paises1:
        dfObesidade['Country'][int(listaindex[i])] = pais
        i+=1
    elif pais not in paises1:
        dfObesidade['Country'][int(listaindex[i])] = ''
        i+=1
dfObesidade

['uae', 'argentina', 'australia', 'brazil', 'canada', 'switzerland', 'chile', 'china', 'colombia', 'costarica', 'czechrepublic', 'denmark', 'egypt', 'euroarea', 'britain', 'hongkong', 'hungary', 'indonesia', 'india', 'israel', 'japan', 'southkorea', 'srilanka', 'mexico', 'malaysia', 'norway', 'newzealand', 'pakistan', 'peru', 'philippines', 'poland', 'russia', 'saudiarabia', 'singapore', 'sweden', 'thailand', 'turkey', 'taiwan', 'ukraine', 'uruguay', 'unitedstates', 'vietnam', 'southafrica']

<ipython-input-8-417dfd8c6099>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfObesidade['Country'][int(listaindex[i])] = ''
<ipython-input-8-417dfd8c6099>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfObesidade['Country'][int(listaindex[i])] = pais

                               Country  Year       Obesity (%)
120                                     2015     5.2 [3.3-7.7]
246                          argentina  2015  21.1 [16.6-26.0]
372                          australia  2015  26.7 [21.9-31.8]
498                             brazil  2015  25.4 [20.1-31.0]
624                             canada  2015    7.9 [4.9-11.7]
...                                ...   ...               ...
24060  venezuela(bolivarianrepublicof)  2015  25.2 [21.0-29.5]
24186                          vietnam  2015     2.0 [1.3-2.9]
24312                            yemen  2015  16.5 [12.9-20.5]
24438                           zambia  2015    7.7 [5.6-10.2]
24564                         zimbabwe  2015  15.2 [11.9-18.8]

[195 rows x 3 columns]